<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>All Exercises</title>
</head>

<body class="background">
    <div class="col-16 mx-auto p-4">
        <h1 class="font-weight-bold font-italic">meFit</h1>
        <div class="d-flex justify-content-between align-items-center">
            <h1>All Exercises</h1>
            <div>
                <a href="/exercises/new" class="mr-1 btn btn-secondary">Create a New Exercise</a>
                <a href="/home" class="mr-1 btn btn-secondary">Home</a>
                <a href="/logout" class="btn btn-secondary">Logout</a>
            </div>
        </div>

        <table class="table table-light table-striped table-bordered">
            <thead>
                <tr class="text-center">
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Recommended Sets</th>
                    <th scope="col">Recommended Reps</th>
                    <th scope="col">Your Rating</th>
                    <th scope="col">How to Video Link:</th>
                </tr>
            </thead>
            <tbody>
                {% for exercise in exercises%}
                <tr class="text-center">
                    <td><a href="/exercises/{{exercise.id}}">{{exercise.name}}</a></td>
                    <td>{{exercise.type}}</td>
                    <td>{{exercise.sets}}</td>
                    <td>{{exercise.reps}}</td>
                    {% if exercise.rating <= 0 %}
                        <td>Unrated</td>
                    {% else %}
                        <td>{{exercise.rating}}</td>
                    {% endif %}
                    <td><a href={{exercise.video}}>{{exercise.video}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>