<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
    />
    <title>{{workout.name}}</title>
</head>
<body>
    <div class="bg-dark text-success col-10 mx-auto p-3">
        <div class="d-flex justify-content-between">
            <h1>{{workout.name}}</h1>
            <div>
                <a href="/home" class="mr-3">Home</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <p>Type: {{workout.type}}</p>
            <div>
                <a href="/workouts/edit/{{workout.id}}" class="mr-3">Edit Workout Name</a>
                <a href="/workouts/delete/{{workout.id}}">Delete Workout</a>
            </div>
        </div>
        <p>{{workout.name}}'s exercises:</p>
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Recommended Sets</th>
                    <th scope="col">Recommended Reps</th>
                    <th scope="col">How to Video Link:</th>
                </tr>
            </thead>
            <tbody>
                {% for exercise in workout.exercises%}
                    <tr>
                        <td><a href="/exercises/{{exercise.id}}">{{exercise.name}}</a></td>
                        <td>{{exercise.type}}</td>
                        <td>{{exercise.sets}}</td>
                        <td>{{exercise.reps}}</td>
                        <td><a href={{exercise.video}}>{{exercise.video}}</a></td>
                    </tr>
                {% endfor %}

    </div>
</body>
</html>