<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/css/style.css">
    <title>{{exercise.name}}</title>
</head>

<body class="background">
    <div class="col-8 mx-auto p-3">
        <h1 class="font-weight-bold font-italic">meFit</h1>
        <div class="d-flex justify-content-between">
            <h1>Exercise: {{exercise.name}}</h1>
            <div>
                <a href="/exercises" class="mr-1 btn btn-secondary">All Exercises</a>
                <a href="/home" class="mr-1 btn btn-secondary">Home</a>
                <a href="/logout" class="btn btn-secondary">Logout</a>
            </div>
        </div>
        <h2>Type: <br>{{exercise.type}}</h2>
        <hr>
        <h2>Recommended Sets and Reps: <br>{{exercise.sets}} sets of {{exercise.reps}}</h2>
        <hr>
        {% if exercise.rating < 0 %}
            <h2>Your Rating: <br> Unrated</h2>
        {% else %}
            <h2>Your Rating: <br>{{exercise.rating}}</h2>
        {% endif %}
        <hr>
        <h2>How to Video Link: <a href="{{exercise.video}}" target="_blank"
                rel="noopener noreferrer">{{exercise.video}}</a></h2>
        <a href="/exercises/rate/{{exercise.id}}" class="mr-3 btn btn-info">Rate Exercise</a>
        <a href="/exercises/edit/{{exercise.id}}" class="mr-3 btn btn-secondary">Edit Exercise</a>
        <a href="/exercises/delete/{{exercise.id}}" class="btn btn-danger">Delete Exercise</a>
    </div>
</body>

</html>